body {
  max-width: 1080px;
  margin: 10px auto;
  text-align: center;
}


.cat-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}


.cat-list-item  {
  padding: 20px;
}


.picture {
  width: 300px;
  height: 400px;
}
